<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Состояние системы</title>

    {% load static %}

    <link rel="stylesheet" href="/static/chartist.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="/static/chartist.min.js"></script>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>

    <div class="indicators">
        
        <div class="data_from_sensors flex_center orange_color h100">

            <span class="digital_indicators" id="air_temperature_data">{{ current_data.air_temperature }}&#176;</span>
            <span class="data_title data_title_font_size">Температура</span>

        </div>

        <div class="data_from_sensors flex_center blue_color h100">

            <span class="digital_indicators" id="air_humidity_data">{{ current_data.air_humidity }}%</span>
            <span class="data_title data_title_font_size">Влажность</span>

        </div>

    </div>

    <div class="lightbulb">

        {% if lighting_data.lamp_on %}

            <div class="lightbulb_data">

                <span class="lightbulb_title lightbulb_on_font">Выключение<br>через:</span>

            </div>

            <img class="lightbulb_img" src="{% static 'light_on.png' %}" alt="lightbulb">

            <div class="lightbulb_data">

                <span class="lightbulb_timer lightbulb_on_font" id="lamp_time">{{ lighting_data.time_value }}</span>
    
            </div>

        {% else %}

            <div class="lightbulb_data">

                <span class="lightbulb_title lightbulb_off_font">Включение<br>через:</span>

            </div>

            <img class="lightbulb_img" src="{% static 'light_off.png' %}" alt="lightbulb">

            <div class="lightbulb_data">

                <span class="lightbulb_timer lightbulb_off_font" id="lamp_time">{{ lighting_data.time_value }}</span>
    
            </div>

        {% endif %}

    </div>

    <div class="flower">

        <div class="soil_humidity_scale_conatainer w100 h100">

            <div class="soil_humidity_scale">

                <div class="soil_humidity_value" id="soil_humidity_heigh"></div>
                
            </div>

        </div>

        <div>
            
            <img class="flower_img" src="{% static 'flower.png' %}" alt="flower">

        </div>

        <div class="soil_indicators w100 h100 water_color">

            <span class="soil_indicators_value" id="soil_humidity_data">{{ current_data.soil_humidity }}%</span>
            <span class="soil_indicators_title">Влажность<br>грунта</span>
            
        </div>

    </div>

    <div class="flex_center water_color">

        <span class="f_size50">Последний полив:</span>

    </div>

    <div class="graph_title_container">

        <span class="mt90">Диаграмма спелости</span>

    </div>

    <div class="donut">

        <div class="ct-chart" id="chart_donut"></div>

    </div>

    <div class="mt30">

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball orange_background_color"></div>
            <span>&nbsp;- до технической спелости</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball blue_background_color"></div>
            <span>&nbsp;- дней в стадии роста</span>
            
        </div>

    </div>

    <div class="graph_title_container">

        <span class="mt90">Показания сенсоров</span>

    </div>

    <div class="graph">

        <div class="ct-chart ct-perfect-fourth" id="chart_graph"></div>

    </div>

    <div class="mt30">

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball orange_background_color"></div>
            <span>&nbsp;- температура воздуха</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball blue_background_color"></div>
            <span>&nbsp;- влажность воздуха</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball water_background_color"></div>
            <span>&nbsp;- влажность грунта</span>
            
        </div>

    </div>

    <div class="link_to_settings_container flex_center">

        <a class="link_to_settings flex_center" href="/settings/">Настройки</a>

    </div>

</body>

{{ historical_data|json_script:"historical_data" }}

<script>

    // Блок инициализации графиков

    let historical_data = JSON.parse(document.getElementById('historical_data').textContent);

    var graph_data = {
    labels: [
        '00:00', '02:00', '04:00', '06:00', '08:00', '10:00', '12:00', 
        '14:00', '16:00', '18:00', '20:00', '22:00'
        ],
    series: [
        historical_data.soil_humidity, 
        historical_data.air_humidity, 
        historical_data.air_temperature, 
        historical_data.yesterday_soil_humidity, 
        historical_data.yesterday_air_humidity, 
        historical_data.yesterday_air_temperature
        ]
    };

    var donut_data = {
        series: [50, 80],
    };

    var donut_option = {
        donut: true,
        donutWidth: 110,
        donutSolid: true,
        startAngle: 90,
        showLabel: true,
        width: '100%',
        height: '500px'
    };

    new Chartist.Pie('#chart_donut', donut_data, donut_option);
    new Chartist.Line('#chart_graph', graph_data);

    // Блок обработки показаний сенсоров

    let url_for_get_cached_sensors_data = 'http://127.0.0.1:8000/get_cached_sensors_data/';
    let xhr = new XMLHttpRequest();


    function getCachedSensorsData() {

        xhr.open('GET', url_for_get_cached_sensors_data, false);
        xhr.send();
        sensors_data = JSON.parse(xhr.responseText);
        air_temperature_data.innerHTML = sensors_data['air_temperature'] + '&#176;';
        air_humidity_data.innerHTML = sensors_data['air_humidity'] + '%';
        soil_humidity_data.innerHTML = sensors_data['soil_humidity'] + '%';
        lamp_time.innerHTML = sensors_data['lamp_time'];
        soil_humidity_heigh.style.height = sensors_data['soil_humidity'] + '%';

    };


    setInterval(getCachedSensorsData, 4000);
    
</script>

</html>