<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Состояние системы</title>

    {% load static %}

    <link rel="stylesheet" href="/static/chartist.min.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <script src="/static/chartist.min.js"></script>

</head>
<body>

    <div class="indicators">
        
        <div class="data_from_sensors flex_center orange_color h100">

            <span class="digital_indicators">25&#176;</span>
            <span class="data_title data_title_font_size">Температура</span>

        </div>

        <div class="data_from_sensors flex_center blue_color h100">

            <span class="digital_indicators">64%</span>
            <span class="data_title data_title_font_size">Влажность</span>

        </div>

    </div>

    <div class="lightbulb lightbulb_on_font">

        <div class="lightbulb_data">

            <span class="lightbulb_title">Выключение<br>через:</span>

        </div>

        <!-- <img class="lightbulb_img" src="{% static 'light_off.png' %}" alt="lightbulb"> -->

        <img class="lightbulb_img" src="{% static 'light_on.png' %}" alt="lightbulb">

        <div class="lightbulb_data">

            <span class="lightbulb_timer">02:15</span>

        </div>

    </div>

    <div class="flower">

        <div class="soil_humidity_scale_conatainer w100 h100">

            <div class="soil_humidity_scale">

                <div class="soil_humidity_value"></div>
                
            </div>

        </div>

        <div>
            
            <img class="flower_img" src="{% static 'flower.png' %}" alt="flower">

        </div>

        <div class="soil_indicators w100 h100 water_color">

            <span class="soil_indicators_value">80%</span>
            <span class="soil_indicators_title">Влажность<br>грунта</span>
            
        </div>

    </div>

    <div class="graph_title_container">

        <span class="mt90">Диаграмма спелости</span>

    </div>

    <div class="donut">

        <div class="ct-chart" id="chart_donut"></div>

    </div>

    <div class="mt30">

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball orange_background_color"></div>
            <span>&nbsp;- до технической спелости</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball blue_background_color"></div>
            <span>&nbsp;- дней в стадии роста</span>
            
        </div>

    </div>

    <div class="graph_title_container">

        <span class="mt90">Показания сенсоров</span>

    </div>

    <div class="graph">

        <div class="ct-chart ct-perfect-fourth" id="chart_graph"></div>

    </div>

    <div class="mt30">

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball orange_background_color"></div>
            <span>&nbsp;- температура воздуха</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball blue_background_color"></div>
            <span>&nbsp;- влажность воздуха</span>
            
        </div>

        <div class="graph_legend_container d_flex align_items_center">

            <div class="ball water_background_color"></div>
            <span>&nbsp;- влажность грунта</span>
            
        </div>

    </div>

    <div class="link_to_settings_container flex_center">

        <a class="link_to_settings flex_center" href="">Настройки</a>

    </div>

</body>

<script>

    let soil_humidity = [90, 85, 80, 75, 61, 55];
    let air_humidity = [65, 60, 65, 60, 70, 70];
    let air_temperature = [20, 20, 20, 19, 20, 23];

    let soil_humidity_yesterday = [90, 80, 70, 75, 55, 55, 45, 90, 90, 85, 80, 75, 70];
    let air_humidity_yesterday = [60, 60, 60, 60, 70, 75, 75, 60, 60, 65, 70, 75, 75];
    let air_temperature_yesterday = [20, 20, 25, 25, 25, 23, 20, 20, 25, 25, 28, 27, 20];

    var graph_data = {
    labels: [
        '00:00', '02:00', '04:00', '06:00', '08:00', '10:00', '12:00', 
        '14:00', '16:00', '18:00', '20:00', '22:00', '24:00'
        ],
    series: [
        soil_humidity, air_humidity, air_temperature, soil_humidity_yesterday, 
        air_humidity_yesterday, air_temperature_yesterday
        ]
    };

    var donut_data = {
        series: [50, 80],
    };

    var donut_option = {
        donut: true,
        donutWidth: 110,
        donutSolid: true,
        startAngle: 90,
        showLabel: true,
        width: '100%',
        height: '500px'
    };

    new Chartist.Pie('#chart_donut', donut_data, donut_option);
    new Chartist.Line('#chart_graph', graph_data);

</script>

</html>