<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Уведомление</title>

    {% load static %}

    <link rel="stylesheet" href="/static/stylesheet.css">

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>

    <div class="h100 flex_center">

        <span class="data_title_font_size">{{ message }}</span>

    </div>

</body>

<script>

    setTimeout(function(){

    window.location.href = '/';

    }, 2000);

</script>

</html>