<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>Состояние системы</title>

    {% load static %}

    <link rel="stylesheet" href="/static/stylesheet.css">

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>

    <form action="/settings/" method="POST" class="settings_form">

        {% csrf_token %}

        <div class="flex_center flex_direction_column">

            <label class="settings_input_label" for="minimal_soil_humidity">Влажность грунта</label>
            <input type="number" class="settings_input" name="minimal_soil_humidity" id="minimal_soil_humidity" value="{{ minimal_soil_humidity }}" required>

            <label class="settings_input_label" for="lamp_on_time">Час включения</label>
            <input type="number" class="settings_input" name="lamp_on_time" id="lamp_on_time" value="{{ lamp_on_time }}" required>

            <label class="settings_input_label" for="lamp_off_time">Час отключения</label>
            <input type="number" class="settings_input" name="lamp_off_time" id="lamp_off_time" value="{{ lamp_off_time }}" required>

            <label class="settings_input_label" for="pump_run_time">Время работы помпы</label>
            <input type="number" class="settings_input" name="pump_run_time" id="pump_run_time" value="{{ pump_run_time }}" required>

            <label class="settings_input_label" for="data_sending_frequency">Промежутки отправки</label>
            <input type="number" class="settings_input" name="data_sending_frequency" id="data_sending_frequency" value="{{ data_sending_frequency }}" required>

            <input type="submit" class="link_to_settings settings_submit" value="Применить">

        </div>

    </form>

</body>

</html>